[Desktop Entry]
Type=Application
Name=Opencord
GenericName=Chat
Comment=Self-hosted chat with voice
Exec=opencord %u
Icon=dev.opencord.opencord
Terminal=false
Categories=Network;InstantMessaging;Chat;
MimeType=x-scheme-handler/opencord;
StartupWMClass=dev.opencord.opencord
StartupNotify=true
